.header-black::before{
    content: "";
    background: url("../images/contact/architecture-1048092_1920.jpg") no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 80%;
    filter: brightness(0.5);
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 1;
}


.countryInput1{
    display: none;
}

.textareaInput{
    width: 30rem;
    max-width: 50vw;
}

#exampleFormControlTextarea1{
    border-radius: 20px;
}
.container{
  height: 60px;
}

.countryInput{
    width: 32rem;
    max-width: 53vw;
}

.bgImageContainer{
    height: 424px;
}


.input-group-text{
  background: ghostwhite;
}

.formBtn{
    background-color: #537895;
  border: none;
  width: 13vw;
  margin:20px 0 20px 0px;
  /* border: 0.2px solid black; */
}

form{
    width: 60vw;
    height: 96vh;
    background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    margin-bottom: 60px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0 17px -6px black;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
  }
  .firstInput{
    padding-top: 16px;
  }




  input[type="text"]{
    border-radius: 1.25rem;
  }
  input[type="email"]{
    border-radius: 1.25rem;
  }
  input[type="number"]{
    border-radius: 1.25rem;
  }

  
  .input-group-text{
    font-size: 12px;
  }
  .input-group{
    width: auto;
  }
  .formTitle{
    font-size: 30px;
    color: white;
    font-weight: 500;
    font-size: 32px;
    color: white;
    font-weight: 500;
    margin-top: 30px;
}
  

.countrySelect{
  border-radius: 1.25rem;
}

#aboutTitle{
  color: rgb(255, 255, 255);
  margin-bottom: 500px;
  font-size: 60px;
  margin-left: 17px;
}

.commontext{
  margin-top: -250px;
  display: flex;
}
 
.page-title1{
  margin-bottom: 20px;
  margin-top: 55px;
}

.line{
  border-left: 15px solid rgb(255, 68, 68);
  height: 90px;
}

.addressComponent{
  padding-bottom: 35px;
  background: linear-gradient(hsla(359, 60%, 75%, 0.582), #a0a5d7); ;

}

#mapId{
  border: 0;
  height: 268px;
  width: 70vw;
}
.checkboxMyDiv{
  display: flex;
  font-size: 2.7vw;
  
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
  margin-bottom: 3vw;
  display: none;
}
.map{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting{
  display: flex;
  text-align: center;
  margin: 0px 16vw 3vw 16vw;
  font-size: 2.3vw;
  color: #3d3d78;

}

.subGreeting{
  display: flex;
  justify-content: center;
  margin: 0 10vw 3vw 10vw;
  font-size: 3vw;
  color: #3d3d78;
}

.responsive-hide{
  text-decoration: none;
}

.ddToggle{
  width: 335px;
  height: 59px;
  background:  #537895;;
  letter-spacing: 1px;
}

.ddToggle:hover{
  /* box-shadow: 0px 0 17px -6px black; */
  box-shadow: 0px 0 13px -4px  #686899;

}

.dd{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}



.ddItems{
  background: #537895;
  
  height: 70px;
}

/* .dropdown-toggle ::after{
  display: inline-block;
  margin-left: 1.275em;
  vertical-align: 0.20em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
} */

.footer-wrap{
  margin-top: 100px;
}

.formBtn:hover{
  background: #09203f;
  border: none;

}

.rAddress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* background: rgb(180 201 247); */
  /* background: linear-gradient(#e597984f, #a0a5d7); */
  padding: 27px 19px 25px 19px;
}

.mailContainer{
  display: flex;
  margin-top: 3vh;
}

.residentalAddress{
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  align-items: center;
  /* background: rgb(180 201 247); */

}
.emails{
  margin-bottom: 1.2vw;
  letter-spacing: 1.2px;

}

.allMails{
  margin-left: 2vw;

}

#locationImg{
  width: 71px;
  margin-left: 9vw;

}

.totalAddressContainer{
 
  width: 100%;
  display: flex;
  
}

.addressContainer{
  display: flex;
  max-width: 25vw;
  margin: 0 50px 0 30px;
  letter-spacing: 1.2px;
}


.contact{
  max-width: 195px;
  margin: 0 50px 0 0px;

}

.addressLogo{
  max-width: 195px;
  width: 195px;
}

.addressTitle{
  font-size: 28px;
  font-weight: 500;
}

.phNos{
  margin-left: 2vw;
  letter-spacing: 1.2px;


}
.bgImageContainer{
  height: 500px;
}
.phoneNumbers{
  display: flex;
}

.company{
  font-size: 2vw;
  font-weight: 600;
  height: 9vh;
  font-family: sans-serif;
  width: 100%;
  margin: 0 50px 5px 106px;
}
.address{
  margin-left: 2vw;
}
.address, .phoneNumbers , .emails{
  font-family: serif;
}

.commontext{
    margin-top: -312px;
}

.checkboxPara2{
  display: none;
}

@media screen and (min-width:370px) {
  
  .header-black::before{
    height: 66%;
  }

}





@media screen and (max-width:722px){

    .textareaInput{
        width: 14rem;

        max-width: none;
    }
  .greeting{
    font-size: 3.6vw;
  }

 
  .countryInput1{
      display: flex;
  }
  .subGreeting{
    font-size: 5vw;
  }
  form{
    width: 85vw;
    height: 104vh;
  }
  .formInputs{
    display: flex;
    flex-direction: column;
    margin: 0px !important;
  }
  .formTitle{
    margin-top: 50px;
  }
  .fInputs{
    margin: 10px 0 10px 0;
  }
  .formBtn{
    width: 105px;
    margin-top: 28px !important;
  }
  .checkboxPara2{
    display: inline;
    height: 42px;
    margin: 0px;
    text-align: justify;

  }

  .checkboxPara1{
    display: none;
  }
  .checkboxMyDiv{
    display: flex;
  }
  

  input[type="text"] {
  border-radius: 0rem;
}
input[type="email"] {
    border-radius: 0rem;
  }

  #exampleFormControlTextarea1{
      border-radius:0rem;
  }
  input[type="number"] {
    border-radius: 0rem;
  }

  .countryInput{
      display: none;
  }

  .formBtn{
      margin-top: 2px;
  }
.company{
    margin: 0px;
    font-size: 6vw;
  }
  .rAddress{
    width: auto;
    margin: 0px;
    font-size: 6vw;
    text-align: center;
  }

  .checkboxPara{
    text-align: justify;
  }
  
  .totalAddressContainer{
    flex-direction: column;
    margin-top: 29px;
  }
  .input-group-prepend{
    width: 290px;
    height: 46px;
  }

  .input-group-text{
    width: 286px;
  }

  .address{
    letter-spacing: 2px;
    width: 191px;
    font-size: 15px;
    text-align: left;
    margin-left: 6vw;
  }

  .addressLogo{
    display: none;
  }
  
  .phNos{
    margin-left: 6vw;
  }

  .allMails{
    margin-left: 6vw;
  }
  .checkboxPara{
    margin-left: 8px;
  }
  .checkboxMyDiv1{
    display: none;
  }
  .contact{
    margin: 0 0px 0 30px;
    letter-spacing: 2px;
    width: 191px;
    margin-top: 4vh;
    font-size: 15px;
    text-align: left;
    margin-left: 8vw;
  }
  
  .addressContainer{
    max-width: 100vw;
    
  }
  
}



@media screen and (min-height:800px) and (max-height:1200px) {

  form{
    height: 85vh;
  }

}

@media screen and (min-height:1200px) {

  form{
    height: 45vh;
  }

}

@media screen and (max-height:570px) {

  form{
    height: 119vh;
  }

}

@media screen and (min-width:715px) and (max-width:970px) {

  form{
    height: 80%;

  }
  .checkboxMyDiv1{
    display: none;
  }

  .checkboxMyDiv{
    display: flex;
    font-size: 1.5vw;
  }

}


@media screen and (min-height:1000px) and (max-height:1200px) {

  .bgImageContainer{
    height: 660px;
  }

}

@media screen and (min-width:500px)  {

  
  .header-black::before {
    height: 85%;
  }

}

@media screen and (min-height:1200px)  {

  .bgImageContainer{
    height: 900px;
  }

}


@media screen and (max-width:300px) {

  #aboutTitle{
    font-size: 46px;
  }

  .line{
    font-size: 60px;
  }

}

@media screen and (min-width:750px) {

    .greeting{
        margin-top: 200px;
    }
}

@media screen and (min-width:500px) {
  .greeting{

    
  margin-top: 20vh;

  }
}