.container-fluid .logo{
	margin-left: -20px;
	
}
.wraper-home-industry .home-industry-box .home-industry-box-item>.holder>.pic img {
    width: 350px;
    height: 300px;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wraper-home-industry .home-industry-box .home-industry-box-item>.holder>.data h4, .wraper-home-industry .home-industry-box .home-industry-box-item>.holder>.data .h4 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.btns {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid #000;
    padding: 0.475rem 1.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.carousel-item{
    
    max-height: 600px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 900;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #000;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 50px;

}
.btns{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    padding: 13px 33px 14px 33px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 0;
    font-family: 'CircularStd';
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
.btns:hover{
    background-color: #000;
    color: #fff;
}
.row1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}
.uipl-contact-form .form-group .bar {
    position: relative;
    border-bottom: 2px solid #efefef;
    display: block;
}
.uipl-contact-form .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -2px;
    position: absolute;
    background: #efefef;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}
.uipl-contact-form .form-group input:focus, .uipl-contact-form .form-group input.has-value, .uipl-contact-form .form-group textarea:focus, .uipl-contact-form .form-group textarea.has-value {
    color: #e9ecef;
}
.uipl-contact-form .textarea-border {
    border: 2px solid #e9ecef;
    padding: 19px 15px 10px;
}
}

