.nav-item .nav-link{
    color: black;
}

.page-title{
    background: linear-gradient(43deg, #078dff63, transparent);

}

.paras{
    background: linear-gradient( 
        281deg, #00a1ffad,white 90%);
}