

.header-black::before{
    content: "";
    background: url("../images/webDevelopment/pexels-tranmautritam-251225.jpg") no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 1;
}

.copy-right{
  text-align: end !important;
}
.row{
  justify-content: space-between;
}

/* .bgImageContainer{
    height: 34vh;
} */


.bgImageContainer{
  height: 9vw;
  background: #df95d2;
}

#aboutTitle{
  font-size: 5vw;
  color: white;
  margin-bottom: 3vh;
}

#aboutTitle2{
  font-size: 3.5vw;
  color: white;
}

.container{
  margin-bottom: 47vh;
}


.commontext{
  display: flex;
  flex-direction: column;
}








.row{
  display: flex;
}




.main-navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 104;
  width: 100%;
  transition: all ease-in-out 200ms;
}


.footer-bottom{
  background-color: white
}

.bt-5{
  color:white;
  display: flex;
  margin-top: 5vw
}

/* ----------------------------------------------------------
 */

 @import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
 * {
   position: relative;
   box-sizing: border-box;
 }
 
 .iframely-embed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 50;
   background: white;
 }
 
 #app {
   z-index: 100;
   margin-bottom: 3vw;
 }
 /* #app:hover {
   opacity: 0.5;
 } */
 
 #app {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   /* padding-bottom: 4vmin; */
   height: 115vh;
   width: 100%;
   color: #3a3535;
   background: #df95d2;
 }
 
 body {
   display: grid;
   /* padding: 3vmin; */
   /* background: #e6ded7; */
   background: white;
 }
 
 .title {
   padding-left: 1em;
   grid-column: 1/-1;
   grid-row: 1;
   font-family: "Prata", serif;
   font-size: 5vw;
   width: 100%;
   z-index: 2;
 }
 .title > .title-inner {
   display: inline-block;
 }
 
 @-webkit-keyframes text-clip {
   from {
     -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
             clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
   }
   to {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
 }
 
 @keyframes text-clip {
   from {
     -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
             clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
   }
   to {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
 }
 @-webkit-keyframes outer-left {
   from {
     transform: translateX(50%);
   }
   to {
     transform: none;
   }
 }
 @keyframes outer-left {
   from {
     transform: translateX(50%);
   }
   to {
     transform: none;
   }
 }
 @-webkit-keyframes inner-left {
   from {
     transform: translateX(-50%);
   }
   to {
     transform: none;
   }
 }
 @keyframes inner-left {
   from {
     transform: translateX(-50%);
   }
   to {
     transform: none;
   }
 }
 .cafe,
 .mozart, .bt-5 {
   -webkit-animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
           animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
 }

 .cafe{
  font-weight: 800;
  color: #f8f9fa;
 }



 .mozart{
   
  font-size: 3vw;
  color: #f8f9fa;
  max-width: 50vw;

 }
 
 .title-inner {
   display: inline-block;
   -webkit-animation: inner-left 1s 1s ease both;
           animation: inner-left 1s 1s ease both;
 }
 
 .cafe-inner {
   display: inline-block;
   -webkit-animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
           animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
 }
 
 .mozart-inner {
   -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
           animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
 }
 
 .title {
   -webkit-animation: outer-left 1s 1s ease both;
           animation: outer-left 1s 1s ease both;
 }
 
 .cafe > .cafe-inner {
   display: inline-block;
 }
 
 .mozart {
   display: inline-block;
 }
 
 .image {
   grid-row: 1;
   grid-column: 2;
   margin-left: -2rem;
   opacity: 0.7;
   -webkit-animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
           animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
 }
 @-webkit-keyframes image-in {
   from {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
             clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   to {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
 }
 @keyframes image-in {
   from {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
             clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   to {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
 }
 .image img {
   display: block;
   width: 100%;
   height: auto;
   padding-right: 3vw; 
 }
 
 body:active * {
   -webkit-animation: none !important;
           animation: none !important;
 }





 /* ----------------------------------------------------------------------------------------------------- */


 /* .image{
	width: 300px; height: 200px;
	background-color: #DDFFF7;
	position: relative;
	box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
} */
.image:before{
	mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px ));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 3s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}


.image:before {
	background-color: #AA4465;
	  clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}


.image:hover:before {

          animation-duration: 1s;
}


.cTitle{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4.3vw;
  color: white;
  background: black;
  padding: 0 2vw;
  
}
.ourClient{
  width: 100%;
    flex-direction: column;
    display: flex;
    /* height: 90vh; */
    margin-bottom: 5vw;
    background: white;
    /* background: #df95d2; */
    justify-content: center;
    align-items: center;
}

.clientTitle{
  font-size: 3.3vw;
    margin: 9vw 12vw 3vw 12vw;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  display: flex;
  margin-top: 4vw;
    margin-bottom: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line{
  width: 40%;
    height: 0.5vw;
    background: black;
    margin-top: 1vw;
}

.clientPara{
  font-size: 2vw;
  width: 25vw;
  display: flex;
  height: 17vw;
  justify-content: center;
  display: flex;
    flex-direction: column;
  align-items: center;
  color: white;
  background: #AA4465;

}

.clientParas{
  display: flex;
  font-family: 'Oswald', sans-serif;
  min-height: 10vw;
  margin-bottom: 2vw;
  justify-content: center;
  align-items: center;

  background: #df95d2;
  
}


.cPara{
  font-size: 2.5vw;
  font-family: 'Oswald', sans-serif;
}




/* --------------------------------------------------------------------------------------------------- */








.area{
  background: #AA4465;  
  background: -webkit-linear-gradient(to left, #da8da5, #AA4465);  
  margin: 2vw;
  width: 70vw;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.webServices{
  background: white;
  margin: 0;
  padding-top: 5vw;
}

.webServices1{
  margin: 0;
  width: 100%;
  display: flex;
}

.webServices2{
  align-items: center;
    display: flex;
    background: #000000ed;
    width: 100%;
    color: white;
    margin-top: 5vw;
}

.webService1 ,.webService2{
  font-size: 2vw;
   width: 18vw;
}

.clickedLines{
  display: flex;
}
.clickedLine1{
  width: 49.6%;
  height: .9vw;
  margin-top: 1.1vw;
  background: #AA4465;
}

.clickedLine2{
  width: 50%;
  height: 0vw;
  margin-top: 1.1vw;
  background: #AA4465;
}




.webService1{
  margin: 2vw 25vw 0 22vw;
  cursor: pointer;
}

.webService2{
  margin-top: 0vw;
  cursor: pointer;

}

.clickedLines{
  background: #000000ed;
  width: 100%;
  height: 2vw;
}

.customWebsite{
  height: 38vw;
  background: #000000ed;
  color: white;
  display: flex;
}


.ecommerceWebsite{
  display: flex;
  height: 38vw;
  background: #000000ed;
  color: white;
}


.customWebsiteImg{
  background: url(../images/webDevelopment/pexels-canva-studio-3194518.jpg);
  height: 33vw;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: 50vw;
  animation: slideAnimation 0.4s ease-in-out   forwards;
  
  
}

.yoyo{
  animation: slideAnimation 1s  2s forwards;

}



@keyframes slideAnimation {
  0%{right: 50vw;}
  
  100%{right: 0vw;}
}


.customWebsiteImg2{
  background: url(../images/webDevelopment/pexels-pixabay-35550.jpg);
    height: 33vw;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    
  right: 50vw;
  animation: slideAnimation 0.4s ease-in-out   forwards;


}

.ecommerceWebsite{
  display: none;
  /* cursor: pointer; */
}


.cWebsitePara{
  justify-content: center;
  width: 49vw;
  font-size: 2vw;
  display: flex;
  
  align-items: center;
  
}

.customWebsitePara{
  
  display: flex;
  height: 30vw;

  width: 30vw;
  text-align: initial;
  align-items: center;
}



/* ----------------------------------------------------------------------------------------------------------- */


/* .btn {
  width: 260px;
  height: 237px;
  border: 5px solid #333;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 242px;
  width: 202px;
}

.btn::after {
  width: 350px;
  height: 170px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #fff;
}

.btn:hover::after {
  height: 0px;
  background: #fff;
}

.btn:hover {
  background: #fff;
} */


.process{
  background: white;
  margin-top: 6vw;
  margin-bottom: 8vw;

}

.processTitle{
  font-size: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  font-family: 'Ubuntu', sans-serif;
}

.p1{
  display: flex;

}







/* ---------------------------------------------------------------------------------------------------- */



/* Reset. */




/* Panels. */
.splitview {
  position: relative;
  width:100%;
  min-height: 15vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 85vw;
  min-height: 15vw;
  overflow: hidden;
}

  .panel .content {
      position: absolute;
      width: 85vw;
      min-height: 15vw;
      color: #FFF;
  }

  .panel .description {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: initial;
  }

  .panel img {
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }


.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
    right: 2%;
    color: #e9ecefcf;
  }

.top {
  background-color: rgb(170 68 101);
  z-index: 2;
  width: 85vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
    left: 0%;
    width: 100%;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Handle. */
/* .handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 33%;
  z-index: 3;
} */

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform:  translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  width: 30%;
  color: white;
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1001px;
}

/* Responsive. */
/* @media (max-width: 900px) {
  body {
    font-size: 75%;
  }
} */


h1{
  font-size: 2.2vw;
  width: 27vh;
}

.cardy{
display: flex;
width: 85vw;
margin:0.7vw 2vw;
justify-content: center;
align-items: center;
height: 15vw;
background: white;
}

.description2{
  width: 55vw;
  font-size: 1.6vw;
}
.group1{
  background: white;

  margin-bottom: 10vw;
  
  width: 100vw;
  margin-top: 3vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 2vw; */
}


.lGroup{
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
  margin-top: -3.3vw;
}

.uipl-contact-form .form-group .bar {
  position: relative;
  border-bottom: 2px solid #efefef;
  display: block;
  }
  .uipl-contact-form .form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -2px;
  position: absolute;
  background: #efefef;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
  }
  .uipl-contact-form .form-group input:focus, .uipl-contact-form .form-group input.has-value, .uipl-contact-form .form-group textarea:focus, .uipl-contact-form .form-group textarea.has-value {
  color: #e9ecef;
  }
  .uipl-contact-form .textarea-border {
  border: 2px solid #e9ecef;
  padding: 19px 15px 10px;
  }
  
  
  
  .flag img{
  height: 50px;
}
.footer-wrap .footer-bottom {
  padding: 10px;
}





@media only screen and (max-width: 1250px) {
  
  #app{
    height: 45vh;
  }
  .clientTitle{
    font-size: 4.1vw;
  }

  .cTitle{
    font-size: 4.7vw;
  }

  .area{
    width: 90vw;
  }

  .cPara{
    font-size: 3.5vw;
  }

  .clientPara{
    font-size: 4vw;
    width: 30vw;
  }
  .webService1{

    margin: 2vw 15vw 0px 15vw;
  }

  .customWebsitePara{
    width: 40vw;
  }

  .processTitle{
    font-size: 4.1vw;
  }

  .cWebsitePara{
    font-size: 3vw;
  }
  .webService1, .webService2{
    font-size: 4vw;
    width: 31vw;
  }

  
}
  
@media only screen and (max-width: 1524px) and (min-width: 700px)  and (max-height:800px) {
  
  #app{
    height: 115vh;
  }

}

@media only screen and (max-width: 800px)   {



  .description2{
    padding: 0.5vw;
    width: 55vw;
    font-size: 3vw;
  }
  
  .bottom .description{
    text-align: initial;
    right: 3%;

  }

  .panel .content{
    height: 40vw;
  
  }

  .panel{
    height: 40vw;
  }

  .splitview{
    height: 40vw;
  }

  .cardy{
    margin: 4vw 2vw;
    height: 40vw;

  }

  .group1{
    height: 71vw;
    margin-top: 15vw;
  }
  h1{
    font-size: 4.1vw;
  }
  .lGroup{
    margin-top: 2.7vw;
  }
  
 

}










